{
  "app": {
    "PORT": "3000",
    "ORIGIN": ["http://localhost:3080"]
  },
  "db": {
    "DATABASE_URL": "postgres://postgres-url"
  },
  "s3": {
    "BUCKET_NAME": "your-bucket-name",
    "BUCKET_REGION": "your-bucket-region",
    "BUCKET_KEY": "your-bucket-key",
    "BUCKET_SECRET": "your-bucket-secret"
  },
  "tokens": {
    "ACCESS_TOKEN_SECRET": "your-secret",
    "ACCESS_TOKEN_EXPIRES_IN": "12h",
    "ACCESS_COOKIE_NAME": "auth",

    "REFRESH_TOKEN_SECRET": "your-secret",
    "REFRESH_TOKEN_EXPIRES_IN": "30d",
    "REFRESH_COOKIE_NAME": "refresh"
  }
}
